@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "Layout";
}
<li class="nav-item">
    <span class="nav-link">@Html.ActionLink("Logout", "Logout", "Account")</span>
</li>

<h2>Account</h2>
